@page {
  size: 72mm auto;   /* عرض 72mm، طول اتوماتیک */
  margin: 0;         /* حاشیه صفر برای چاپ حرارتی */
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: sans-serif;
}

/* عناصر غیر لازم در چاپ مخفی شوند */
.no-print {
  display: none !important;
}
