<nav id="sidebar" class="sidebar bg-success text-white">
  <div class="sidebar-header text-center py-3 border-bottom border-light">
    <img id="logo-img-mnu" src="assets/img/logo.png">
    <h6 class="mb-0">فروشگاه ستایا</h6>
    <hr id="lin-mnu">
    <h5 class="mb-0">🧾 سیستم فروش</h5>
  </div>

  <ul class="list-unstyled px-2 mt-3">
    <li><a href="dashboard.html" class="nav-link"><i class="bi bi-house"></i> داشبورد</a></li>
    <li><a href="products.html" class="nav-link"><i class="bi bi-box-seam"></i> محصولات</a></li>
    <li><a href="stock.html" class="nav-link"><i class="bi bi-warehouse"></i> موجودی انبار</a></li>
    <li><a href="invoices.html" class="nav-link"><i class="bi bi-receipt"></i> فاکتورها</a></li>
    <li><a href="customers.html" class="nav-link"><i class="bi bi-person"></i> مشتری‌ها</a></li>
    <li><a href="reports.html" class="nav-link"><i class="bi bi-bar-chart"></i> گزارش‌ها</a></li>
    <!-- <li><a href="settings.html" class="nav-link"><i class="bi bi-gear"></i> تنظیمات</a></li> -->
  </ul>

  <div class="sidebar-footer text-center mt-auto py-3 border-top border-light">
    <a href="login.html" class="text-white text-decoration-none"><i class="bi bi-box-arrow-right"></i> خروج</a>
  </div>
</nav>
